:root{
    --verde: #1abc9c;
    --verde-escuro: #15967d; 
    --azul: #2c3e50;
    --azul-escuro: #1a252f; 
}
.btn-primary{
    background-color: #2c3e50 !important;
}
.fw-big-bold{
    font-weight: 800;
}
.btn-second{
    background-color: var(--verde);
    border: var(--verde-escuro);
    color: #FCFAEE;
}
.btn-second:hover{
    background-color: var(--verde-escuro);
    border-color: var(--verde-escuro);
    color:#FCFAEE ;
}
body{
    background-color: #fff;
    color: #000;
    font-family: "Open Sans", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
}
.bg-custom-blue{
    background-color: var(--azul);
}
.copywrite{
    background-color: var(--azul-escuro);

}
.navbar{
    background-color: var(--azul);
    color: #fff;
    padding: 1.75rem 0;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.navbar a{
    color: #fff;
    font-weight:700;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
    border-radius: 10px;
}

.navbar a.nav-link.active{
    background-color: #1abc9c;
    color: #FCFAEE;
    border-radius: 10px;
}

.navbar a:hover{
    color: #fff;
}
.navbar a.nav-link:hover
{
    color: #1abc9c;
    border-bottom: 2px solid;
    border-radius: 0;
}
.navbar a.nav-link.active:hover{
    color: #fff;
    border-radius: 10px;
}
.nav-link:focus,.navbar a:active{
    color: #FCFAEE;
}
.navbar .navbar-brand{
    font-size: 1.75rem;
}
.navbar-toggler i {
    font-size: 1.6rem;
}
section{
    padding: 6rem 0 ;
}
section.bg-custom-white{
    background-color: #fff;
}
section.bg-custom-green{
    background-color: #1abc9c;
}

.featured-image{
    text-align: center;
}
.featured-image img{
    width: 15rem;
}
.featured-title{
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
}
.color-blue{
    color: var(--azul);
}
.line-star::before,.line-star::after{
    content: "";
    border-top: 5px solid #fff;
    border-radius: 10px;
    width: 7rem;
    height: 5px;
    color: transparent;
    position: absolute;
    top: 50%;
    bottom: 0;
}
.line-star-blue::before,.line-star-blue::after{
    border-top-color: var(--azul) ;
}
.line-star::before{
    /* left: 0; */
    margin-left: auto;
    margin-right: 13rem;
}
.line-star::after{
    /* right: 0; */
    margin-right: auto;
    margin-left: 13rem;
}
.line-star{
    font-size: 2rem;
    color: #fff;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 1.25rem 0 1.5rem;/* background-color: #000   ; */
}
.line-star-blue{
    color: var(--azul);
}
.card-port{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 25rem;
    margin: 0 auto;
}
.card-port.card-port-not-hover{
    max-width: fit-content;
}

.card-port:hover{
    background-color: #1abc9c;
    border-radius: 15px;
    z-index: 9;
}

.card-port:hover .card-port-img{
    opacity: .1;
    z-index: -1;
}

.card-port i {
    position: absolute;
    font-size: 5rem;
    color: #fff;
    opacity: 0;
}
.card-port:hover i{
    opacity: 1;
}
.card-port.card-port-not-hover:hover{
    background-color: transparent;
    z-index: 0;
}
.card-port.card-port-not-hover:hover .card-port-img{
    opacity: 1;
    z-index: 1;
}
.card-port.card-port-not-hover:hover i{
    opacity: 0;
}
.card-port.card-port-not-hover:hover{
    background-color: transparent;
}
.card-port .card-port-img img{
    border-radius: 15px;
}

#about-section p{
    font-size: 1.25rem;
    font-weight: 300;
}
#about-section .btn-outline-light{
    font-weight: 500;
    font-size: 22px;
    border: 2px solid #FCFAEE;
}

#about-section .btn-outline-light:hover{
    background-color: #FCFAEE;
    color: #2c3e50;
    
}
.form-floating>label{
    top: -.6rem;
}
.form-floating>.form-control:not(:placeholder-shown)~label{
    transform: scale(.85) translateY(-1.1rem) translateX(1.05rem);
}
.form-floating>.form-control:focus~label{
    transform: scale(.85) translateY(-0.7rem) translateX(0.75rem);
}
footer p{
    font-size: 18px;
}
.list-social{
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0 1rem;
}
.list-social li{
    width: fit-content;
}
.btn-social {
    border-radius: 100%;
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
}